@font-face {
    font-family: Rubik;
    src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: JH;
    src: url('../../fonts/JungleHope.ttf');
}

@font-face {
    font-family: SST;
    src: url('../../fonts/sst/SSTRg.TTF');
}