// COLORS
$dark-blue: #0554F2;
$light-blue: #5C8EF2;
$black: #313640;
$blue: #056CF2;
$white: #F2F2F2;

// LAYOUT
$layoutPadding: 20px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS
$sec: 0.5s;