// COLORS
$dark-blue: #0554F2;
$light-blue: #5C8EF2;
$black: #313640;
$grey: #4d505a;
$grad-black: rgba(0, 0, 0, 0.7);
$blue: #056CF2;
$white: #F2F2F2;
$scroll-grey: #5a5a5a;

// LAYOUT
$layoutPadding: 20px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS
$sec: 0.5s;