.games {

    // height: 200vh;
    .games-grid {
        padding: 20px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        width: 50%;

        .game {
            width: 100%;
            position: relative;
            overflow: hidden;


            h2 {
                position: absolute;
                top: 0;
                padding: 5px;
                z-index: 20;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            .no-img {
                aspect-ratio: 1/1;
                background-color: $grey;
                display: flex;

                svg {
                    transform: scale(1.5);
                    align-self: center;
                    width: 100%;

                    path {
                        fill: $black;
                    }
                }

            }

            .game-img-wrapper {
                transition: 0.5s;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 10;
                    background: linear-gradient($grad-black 0%, rgba(255, 255, 255, 0) 30%);
                }

                &:hover {
                    transition: 0.5s;

                    .tags {
                        transform: translateY(0);
                    }
                }

                .tags {
                    transition: 0.5s;
                    position: absolute;
                    transform: translateY(200%);
                    bottom: 10px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 0 5px;

                    .tag {
                        background-color: $light-blue;
                        border-radius: 30px;
                        padding: 3px 6px;
                        color: black;
                        font-weight: 700;
                        font-size: 14px;
                        height: fit-content;
                    }

                    .genres {
                        display: flex;
                        gap: 5px;
                        left: 5px;
                        align-self: flex-end;
                    }

                    .platforms {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                    }
                }
            }

        }
    }

    .canvas-wrapper {
        top: 0;
        position: absolute;
        z-index: -1;

        canvas {
            position: fixed;
        }
    }
}