* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: $black;
    color: $white;
    font-family: SST;
}

body {
    margin: 0;
    padding: 0;

    ::selection {
        // color: $red;
        // background: $white;
    }
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 14px;
    // background: $scroll-grey;
    background: $scroll-grey;
}